<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-helloworldfpay" version="1.0.0">
   
   <name>HelloWorldFpay</name>

   <js-module name="HelloWorldFpay" src="www/HelloWorldFpay.js">
      <clobbers target="HelloWorldFpay" />
   </js-module>
   
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="HelloWorldFpay">
            <param name="android-package" value="cordova.plugin.helloworldfpay.HelloWorldFpay" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/HelloWorldFpay.java" target-dir="src/cordova/plugin/helloworldfpay/HelloWorldFpay" />
      <source-file src="src/android/Test.java" target-dir="src/cordova/plugin/helloworldfpay/Test" />
      <source-file src="src/android/PrintFpay.java" target-dir="src/cordova/plugin/helloworldfpay/PrintFpay" />

      <framework src="src/android/SunmiLibrary.gradle" custom="true" type="gradleReference"/>
      <lib-file src="src/android/SunmiLibrary-release-1.0.aar"/>

      <!--

         <framework src="src/android/fpay.gradle" custom="true" type="gradleReference"/>
         <resource-file src="src/android/fpay-release-2.1.5.aar"  target="libs/fpay.aar"/>

         <framework src="src/android/barcodescanner.gradle" custom="true" type="gradleReference"/>
         <lib-file src="src/android/barcodescanner-release-2.1.5.aar"/>

      -->

   </platform>
   
</plugin>