<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-helloworldfpay" version="1.0.0">
   
   <name>HelloWorldFpay</name>

   <js-module name="HelloWorldFpay" src="www/HelloWorldFpay.js">
      <clobbers target="HelloWorldFpay" />
   </js-module>
   
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="HelloWorldFpay">
            <param name="android-package" value="cordova.plugin.helloworldfpay.HelloWorldFpay" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/HelloWorldFpay.java" target-dir="src/cordova/plugin/helloworldfpay/HelloWorldFpay" />
      <source-file src="src/android/Test.java" target-dir="src/cordova/plugin/helloworldfpay/Test" />
      <source-file src="src/android/libs/LibrayTest.jar" target-dir="src/cordova/plugin/helloworldfpay/libs/LibrayTest" />
   </platform>
   
</plugin>